<div fxLayout="column" fxLayoutAlign="center center">

  <form [formGroup]="patientForm" novalidate (ngSubmit)="onSubmit()">

    <mat-card class="card">

      <mat-card-header>
        <mat-card-title>Patient Information</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <div fxLayout="column">

          <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput placeholder="First name" formControlName="firstName" required autofocus
                   oninput="this.value = this.value.charAt(0).toUpperCase() + this.value.slice(1)">
            <mat-error *ngIf=" patientForm.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="Last name" formControlName="lastName" required
                   oninput="this.value = this.value.charAt(0).toUpperCase() + this.value.slice(1)">
            <mat-error *ngIf=" patientForm.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Birth date</mat-label>
            <input matInput [matDatepicker]="birthDatePicker" formControlName="birthDate" [max]="maxBirthDate" [min]="minBirthDate"
                   placeholder="DD/MM/YYYY">
            <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #birthDatePicker startView="year" [startAt]="startBirthDate"></mat-datepicker>
            <mat-error *ngIf="patientForm.controls['birthDate'].hasError('required')">
              Birth date is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="patientForm.controls['birthDate'].hasError('matDatepickerMin')">
              Birth date must not be <strong>more then 200 years in the past</strong>
            </mat-error>
            <mat-error *ngIf="patientForm.controls['birthDate'].hasError('matDatepickerMax')">
              Birth date must not be <strong>in the future</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="illnesses">
            <mat-label>Select your Illness</mat-label>
            <mat-select placeholder="Illness" formControlName="illnessId">
              <mat-option *ngFor="let illness of illnesses" [value]="illness.id">
                {{illness.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="patientForm.controls['illnessId'].hasError('required')">
              Illness is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="painLevels">
            <mat-label>Select your Level of Pain</mat-label>
            <mat-select placeholder="Level of Pain" formControlName="painLevel">
              <mat-option *ngFor="let painLevel of painLevels" [value]="painLevel.level">
                <img alt="{{painLevel.image}}" src="assets/img/{{painLevel.image}}" width="30" height="30" style="vertical-align: middle">
                {{painLevel.description}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="patientForm.controls['painLevel'].hasError('required')">
              Level of Pain is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!patientForm.valid">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>

</div>
