<mat-progress-bar *ngIf="showProgressBar; else elseBlock" mode="indeterminate"></mat-progress-bar>
<ng-template #elseBlock>
  <div class="progress-bar-placeholder"></div>
</ng-template>

<div fxLayout="column" fxLayoutAlign="center center">
  <h2>Suggested Hospitals</h2>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Type phrase to filter on">
  </mat-form-field>

  <table mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hospital Name</th>
      <td mat-cell *matCellDef="let hospital"> {{hospital.name}} </td>
    </ng-container>

    <ng-container matColumnDef="waitTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Wait Time (minutes)</th>
      <td mat-cell *matCellDef="let hospital"> {{hospital.waitTime}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
