<mat-progress-bar *ngIf="showProgressBar; else elseBlock" mode="indeterminate"></mat-progress-bar>
<ng-template #elseBlock>
  <div class="progress-bar-placeholder"></div>
</ng-template>

<div fxLayout="column" fxLayoutAlign="center center">
  <h2>Patients</h2>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Type phrase to filter on">
  </mat-form-field>

  <table mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
      <td mat-cell *matCellDef="let patient"> {{patient.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
      <td mat-cell *matCellDef="let patient"> {{patient.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date</th>
      <td mat-cell *matCellDef="let patient"> {{patient.birthDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="painLevel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Level of Pain</th>
      <td mat-cell *matCellDef="let patient"> {{patient.painLevel}} </td>
    </ng-container>

    <ng-container matColumnDef="illness">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Illness</th>
      <td mat-cell *matCellDef="let patient"> {{patient.illness}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>

</div>
