<div class="container" [class.is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="toolbar mat-elevation-z4" [style.paddingLeft.px]="mobileQuery.matches ? 2 : 16"
               [style.paddingRight.px]="mobileQuery.matches ? 2 : 16">

    <div fxLayout="row" fxLayoutAlign="space-between center" class="full-width">

      <!-- drawer menu and application name -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button aria-label="Toggle sidenav" (click)="exportedAsSidenav.toggle()"
                [matTooltip]="(exportedAsSidenav.opened ? 'Close' : 'Open') + ' Drawer'" matTooltipClass="mat-body">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div class="toolbar-font-weight">
          <a routerLink="/" matTooltip="Home" style="text-decoration: none; color: inherit"
             matTooltipClass="mat-body">{{applicationName}}</a>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center">

        <a matTooltip="www.palo-it.com" matTooltipClass="mat-body" target="_blank"
           href="https://www.palo-it.com/">
          <img alt="angular-logo.png" src="assets/img/palo-it-logo.png" width="150" height="50" style="vertical-align: middle">
        </a>
      </div>
    </div>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #exportedAsSidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item>
          <mat-icon matListIcon>person</mat-icon>
          <a mat-list-item routerLink="/patient-list" (click)="exportedAsSidenav.close()">Patients</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>assistant</mat-icon>
          <a mat-list-item routerLink="/home" (click)="exportedAsSidenav.close()">Select Illness</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

